# GroupBy

In [4]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [6]:
df = pd.read_csv("/drive/My Drive/Colab Notebooks/Deep Learning Course (Jose Portilia)/2. Pandas Crash Course/Universities.csv")   #pdf.read_csv("Universities.csv")

In [7]:
df.head()

                                 Sector  ... Geography
0            Private for-profit, 2-year  ...    Nevada
1  Private for-profit, less-than 2-year  ...    Nevada
2  Private for-profit, less-than 2-year  ...    Nevada
3  Private for-profit, less-than 2-year  ...    Nevada
4               Public, 4-year or above  ...    Nevada

[5 rows x 5 columns]

In [10]:
df.groupby(by = 'Year').mean()

      Completions
Year
2012   535.078947
2013   526.150000
2014   588.809524
2015   597.250000
2016   609.860465

In [11]:
type(df.groupby(by = 'Year').mean())

pandas.core.frame.DataFrame

In [12]:
df.groupby(by = 'Year').mean().sort_index(ascending=False)

      Completions
Year
2016   609.860465
2015   597.250000
2014   588.809524
2013   526.150000
2012   535.078947

In [13]:
df.groupby(by = ['Year', 'Sector']).sum()

                                              Completions
Year Sector
2012 Private for-profit, 2-year                      3072
     Private for-profit, 4-year or above              632
     Private for-profit, less-than 2-year            1327
     Private not-for-profit, 2-year                   665
     Private not-for-profit, 4-year or above         1059
     Public, 2-year                                  1170
     Public, 4-year or above                        12408
2013 Private for-profit, 2-year                      3053
     Private for-profit, 4-year or above              775
     Private for-profit, less-than 2-year            1281
     Private not-for-profit, 2-year                   471
     Private not-for-profit, 4-year or above         1016
     Public, 2-year                                  1633
     Public, 4-year or above                        12817
2014 Private for-profit, 2-year                      2957
     Private for-profit, 4-year or above             1506
     Private for-profit, less-than 2-year            1328
     Private not-for-profit, 2-year                   449
     Private not-for-profit, 4-year or above         1042
     Public, 2-year                                  2286
     Public, 4-year or above                        15162
2015 Private for-profit, 2-year                      3280
     Private for-profit, 4-year or above             1306
     Private for-profit, less-than 2-year            1629
     Private not-for-profit, 2-year                   425
     Private not-for-profit, 4-year or above         1228
     Public, 2-year                                  2355
     Public, 4-year or above                        16056
2016 Private for-profit, 2-year                      3286
     Private for-profit, 4-year or above              748
     Private for-profit, less-than 2-year            1552
     Private not-for-profit, 2-year                   322
     Private not-for-profit, 4-year or above         1208
     Public, 2-year                                  2431
     Public, 4-year or above                        16677

In [14]:
df.groupby(by = 'Year').describe()

     Completions
           count        mean          std   min     25%    50%     75%     max
Year
2012        38.0  535.078947  1036.433239  13.0  114.25  229.5  420.50  5388.0
2013        40.0  526.150000  1040.474782   0.0   98.50  189.0  413.00  5278.0
2014        42.0  588.809524  1150.355857   0.0  104.50  203.5  371.75  5093.0
2015        44.0  597.250000  1183.371791   0.0   87.75  191.0  405.75  5335.0
2016        43.0  609.860465  1235.952796   0.0   90.00  208.0  414.00  5367.0

In [15]:
df.groupby(by = 'Year').describe().transpose()

Year                      2012         2013  ...         2015         2016
Completions count    38.000000    40.000000  ...    44.000000    43.000000
            mean    535.078947   526.150000  ...   597.250000   609.860465
            std    1036.433239  1040.474782  ...  1183.371791  1235.952796
            min      13.000000     0.000000  ...     0.000000     0.000000
            25%     114.250000    98.500000  ...    87.750000    90.000000
            50%     229.500000   189.000000  ...   191.000000   208.000000
            75%     420.500000   413.000000  ...   405.750000   414.000000
            max    5388.000000  5278.000000  ...  5335.000000  5367.000000

[8 rows x 5 columns]